.Login {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25vh;
    aspect-ratio: 1/1;
    gap: 2rem
}



.textInps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    width: 100%;
    gap: 1rem
    

}




.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 70%;
}

.SubmitBtn {
    width: 50%;
}